.text_field {
  width: 100%;
  display: block;
  height: 48px;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: solid 1px transparent;
  margin-top: 32px;
  color: #262626;
  font-size: 16px;
  padding: 0 16px;
  outline: none;
}

.text_field:focus {
  border-color: rgba(151, 151, 151, 0.25);
}

.text_field.text_field__error {
  border-color: #ed4159;
  color: #ed4159;
}

@media (max-width: 414px) {
  .text_field {
    margin-top: 24px;
  }
}