.form {
  max-width: 600px;
  width: 100%;
  padding: 48px 48px 60px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}

.form__text_field {
  margin-top: 32px;
}

.form__button {
  margin-top: 48px;
}

.form__error_message {
  margin-top: 32px;
}

@media (max-width: 414px) {
  .form {
    padding: 32px 24px 48px;
  }

  .form__text_field {
    margin-top: 24px;
  }

  .form__button {
    margin-top: 48px;
  }

  .form__error_message {
    margin-top: 24px;
  }
}
