.error_message {
  width: 100%;
  min-height: 40px;
  
  border-radius: 4px;
  background-color: rgba(237, 65, 89, 0.25);
  color: #ed4159;
  text-align: left;
  padding: 11px 16px 9px;
  font-weight: 500;
}

@media (max-width: 414px) {
  .error_message {
    font-size: 12px;
    
    padding: 14px 16px 12px;
  }
}