@font-face {
  font-family: 'Gotham';
  src: url('./../fonts/GothamPro-Medium.woff'), url('./../fonts/GothamPro-Medium.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./../fonts/GothamPro-Bold.woff'), url('./../fonts/GothamPro-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}
